@model WebSmonder.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Скидання паролю";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row p-4 shadow rounded bg-light" style="max-width: 600px; margin: auto;">
        <div class="offset-md-3 col-md-6">

            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />

                <div class="form-group">
                    <label asp-for="Password" class="control-label">Новий пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Підтвердьте пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Скинути пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>