@using WebSmonder.Constants
@using WebSmonder.Models.Product
@model ProductListViewModel

<div class="container mt-5">
    <h2 class="text-center mb-4">Продукти</h2>

    @await Html.PartialAsync("_ProductSearchItems", Model.Search)

    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create")" class="btn btn-success mb-3">Додати</a>
    }

    <div class="alert alert-primary mt-2" role="alert">
        Кількість елементів: <strong>@Model.Count</strong>
    </div>

    @if (Model.Count == 0)
    {
        <div class="border rounded p-3 text-muted text-center bg-light">
            <i class="bi bi-search me-2"></i>
            Продукти за вашим запитом не знайдено.
        </div>
    }
    else
    {
        @await Html.PartialAsync("_ListProductItems", Model.Products)
    }
    @await Html.PartialAsync("_Pagination", Model.Search)
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const paginationButtons = document.querySelectorAll('.pagination-button');
            const pageInput = document.querySelector('input[name="Pagination.Page"]');
            const searchForm = pageInput.closest('form');
            const submitButton = searchForm.querySelector('input[type="submit"]');

            paginationButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const page = this.dataset.page;
                    if (pageInput) pageInput.value = page;
                    submitButton?.click() || searchForm.submit();
                });
            });
        });
    </script>

}